body {
  background-color: rgb(36, 36, 36);
  background-image: url("../public/starwars-background.jpg");
  background-size: cover;
  height: 100vh;
}

.container {
  height: 100vh;
}

h1 {
  font-size: 60pt;
  color: #ff0014;
  margin-top: 50px;
  margin-bottom: 50px;
}

.table-container {
  border-radius: 15px !important;
}

.table {
  border-style: solid;
  /* border-color: #212529; */
  background-color: #ff0014;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

thead {
  color: #ff0014;
}

tbody {
  color: whitesmoke;
}

th,
td {
  text-align: left;
}

.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-bar {
  color: #ff0014;
  background-color: #212529;
  border-radius: 5px;
  border-style: solid;
  border-color: whitesmoke;
  font-size: 15pt;
}

.search-button {
  background-color: #ff0014;
  color: black;
  border-style: none;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 15pt;
  font-weight: bold;
  padding: 5px;
}

.form-group {
  height: 40px;
  margin-bottom: 50px;
}

.pagination {
  margin-top: 30px;
}
.paginate-button {
  background-color: #212529;
  font-weight: bold;
  border-style: none;
  color: #ff0014;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.paginate-control {
  background-color: #ff0014;
  border-style: none;
  font-weight: bold;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
